body { 
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    background: url(./images/backgroungall.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    

}

h1, h5 {
    font-family: 'Clicker Script', cursive;
    font-size: 150px ;
    text-align: center;
}

.sidenav {
    width: 160px;
    position: fixed; 
    z-index: 1;
    top: 400px; 
    left: 0;
    background-color: whitesmoke;
    overflow-x: hidden; 
    padding-top: 20px;
    color: black;

}

.sidenav a {
    padding: 6px 8px 6px 16px;
    height: 35px;
    text-decoration: none;
    color: black;
    display: block;
}

.collections {
    background-color: aliceblue;
}

.email {
    background-color: aliceblue;
}


a {
    word-wrap: break-word;
}

#footer {
    border-top: 5px solid rgba(211, 211, 211, 0.714);
    height: 60px;
    font-family: 'Clicker Script', cursive;
    font-size: 18px; 
}
.navbar-brand {
    font-family: 'Clicker Script', cursive;
    font-size: 50px;
    margin-left: 10px;
}

#header {
   border-bottom: 3px solid rgba(211, 211, 211, 0.714);
   height: 90px;
}

