body { 
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    background: url(./images/backgroungall.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    max-width: 960px;
    margin: 0 auto;
}

h1, h5 {
    font-family: 'Clicker Script', cursive;
    font-size: 150px ;
    text-align: center;
}

.collections {
    background-color: aliceblue;
    padding-top: 60px; 
}

.email {
    background-color: aliceblue;
}


a, .card {
    word-wrap: break-word;
}

#footer {
    border-top: 5px solid rgba(211, 211, 211, 0.714);
    height: 60px;
    font-family: 'Clicker Script', cursive;
    font-size: 18px; 
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

#header {
   border-bottom: 3px solid rgba(211, 211, 211, 0.714);
   height: 90px;
   font-size: 18px;
   width:100%;
   z-index:10;
   border-bottom-left-radius:7px;
   border-bottom-right-radius:7px;
}
.navbar-brand {
    font-family: 'Clicker Script', cursive;
    font-size: 50px;
    margin-left: 10px;
}

#nav-collapse { 
    background:#F8F9FA;
    border-radius:5px;
}

#main, .carousel{
    background:#F8F9FA; 
    width: 550px;
    padding: 30px;
    margin: 160px auto;
    border: 1px solid #dddddd;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    line-height: 40px;
    
}

#mainGivingBack{
    background:#F8F9FA; 
    width: 100%;
    padding: 30px;
    margin: 160px auto;
    border: 1px solid #dddddd;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    line-height: 40px;
    margin-bottom: 20px;

}

#hostParty{
    margin-bottom: 40px;
}
#main-header {
    border-bottom: solid 5px rgb(187, 117, 43);
    border-width: thin;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#main-image {
    height: -webkit-fill-available;
}

.carousel {
    padding: 10px;
    line-height: 0px;
    margin-bottom: 10px; 
}
    
.carousel-inner {
  
border-top-right-radius: 25px;
border-bottom-left-radius: 25px; 

}


#shop {
    margin-top: 160px; 
    padding-top: 20px; 
    margin-bottom: 10px; 
}


  .emailContact {
      margin-top: 150px;
  }


  .contactForm {
      margin-bottom: 100px;
  }


  #exampleModalLabel {
      font-size: 24px;
  }

  iframe {
      margin-bottom: 160px; 
  }

#homeCard {
      margin-top: 50px;
      margin-bottom: 10px;
      height: 250px;
      
  }
  
  .card {
      overflow: hidden;
  }

  .card-text {
    word-wrap: break-word;

  }
  #homeNav {
      margin-bottom: 140px;
      
  }

  .nav {
      color: black;
  }

  .card-img-top {
      height: 200px;
  }
  
  #homenavlist {
      font-size: 25px;
      background:rgba(248, 249, 250, 0.356);
      border-top-right-radius: 15px;
      border-bottom-left-radius: 15px;
  }

  

